
    <div class="container boxBglight">
      <div class="row gmailScr">
        <div  class="col-md-12 col-sm-12 col-xs-12">
          <div class="card centered text-center" style="width: 20rem;">
            <div class="card-body">
              <div class="mb-4"><img src="./assets/img/google.png"></div>

              <!-- <h4><a class="g-signin2"  data-onsuccess="onSignIn">Sign in with Google</a></h4> -->
              <h4><a href="javascript:void(0)"  (click)="loginWithGoogle()" >{{ 'home.signin_label' | translate }}</a></h4>
              <p class="needHelp mt-4"><a href="#">{{ 'home.help_label' | translate  }}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

