
    <div *ngIf="userData"  class="container boxBglight">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div  class="card text-center">
            <div>
              <img class="userCircleImg" src="{{userData.photoUrl}}">
              <h5 style="margin-top: -5%;"><span class="userEmail">
              {{userData.email}}
                </span></h5>
            </div>
            <div class="gmailDetail mt-3">

              <form [formGroup]="userForm" (ngSubmit)="onSubmit()" >
                <div class="form-row align-items-center">
                  <div class="col-md-12">
                    <!-- <label class="sr-only" for="inlineFormInputGroup">First Name</label> -->
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <p><i class="fa fa-user"></i></p>
                          <p>First Name</p>
                        </div>
                      </div>
                      <input type="hidden"  formControlName="user_image" value="{{userData.photoUrl}}">
                      <input type="hidden"  formControlName="user_email" value=" {{userData.email}}">
                      <input type="text"  formControlName="first_name" id="first_name"
                        class="form-control" value="{{userData.firstName}}" id="inlineFormInputGroup" placeholder="Username">
                    </div>
                    <div *ngIf="f.first_name.errors && f.first_name.errors.required && submitted"
                      class="text-danger text-left mb-1 errorcontrols">
                      <div *ngIf="f.first_name.errors.required"><small>First Name is required.</small></div>

                    </div>
                  </div>
                  <div class="col-md-12">
                    <!-- <label class="sr-only" for="inlineFormInputGroup">Last Name</label> -->
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <p><i class="fa fa-user"></i></p>
                          <p>Last Name</p>
                        </div>
                      </div>
                      <input type="text"  formControlName="last_name" id="last_name"
                        class="form-control" value="{{userData.lastName}}" id="inlineFormInputGroup" placeholder="Username">
                    </div>
                    <div *ngIf="f.last_name.errors && f.last_name.errors.required && submitted"
                      class="text-danger text-left mb-1 errorcontrols">
                      <div *ngIf="f.last_name.errors.required"><small>Last Name is required.</small></div>

                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group mb-2">

                      <input type="hidden" value="{{ userData.dialcode }}" formControlName="countryCode"/>
                      <input id="phone" type="text"  class="form-control" formControlName="contact_no" ng2TelInput
                      [ng2TelInputOptions]="{initialCountry: 'in', utilsScript: 'node_modules/intl-tel-input/build/js/utils.js'}"
                      (countryChange)="onCountryChange($event)"
                      placeholder="Enter your mobile number" >
                    </div>
                    <div *ngIf="f.contact_no.errors && f.contact_no.errors.required && submitted"
                      class="text-danger text-left mb-1 errorcontrols">
                      <div *ngIf="f.contact_no.errors.required"><small>Mobile is required.</small></div>

                    </div>
                  </div>
                  <div class="col-md-12">
                    <!-- <label class="sr-only" for="inlineFormInputGroup">Industry</label> -->
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-genderless"></i></div>
                      </div>
                      <select formControlName="gender" id="gender" class="form-control">
                        <option selected>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                    </div>
                    <div *ngIf="f.gender.errors && f.gender.errors.required && submitted" class="text-danger text-left mb-1 errorcontrols">
                      <div *ngIf="f.gender.errors.required"><small>Gender is required.</small></div>

                    </div>
                  </div>
                  <div class="col-md-12">
                    <!-- <label class="sr-only" for="inlineFormInputGroup">Industry</label> -->
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-industry"></i></div>
                      </div>
                      <!-- <select formControlName="industry_name" id="industry_name" class="form-control">
                        <option  *ngFor="let ind of Industrydata">{{ ind.Description }}</option>
                      </select> -->
                      <ng-multiselect-dropdown formControlName="industry_name" class="form-control" 
                        [data]="Industrydata"  [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"> </ng-multiselect-dropdown>

                    </div>
                    <div *ngIf="f.industry_name.errors && f.industry_name.errors.required && submitted" class="text-danger text-left mb-1 errorcontrols">
                      <div *ngIf="f.industry_name.errors.required"><small>Industry is required.</small></div>

                    </div>

                  </div>
                  <div class="col-md-12 mt-3">
                    <button type="submit" class="btn btn-block mb-2 borderBtn">Let's create your magnet <i
                        class="fa fa-arrow-right"></i></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


